body {
  font-family: 'Bitter', serif;
}
.rti--container {
  background: #121212 !important;
  background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)) !important;
  border: 1px solid rgba(144, 202, 249, 0.5) !important;
}
.tagsSearch {
  color: #121212 !important;
}
.inputSearch {
  background-color: transparent !important;
  color: #fff !important;
}
.gridbg {
  background-image: linear-gradient(#ccccdc 1px, transparent 1px),
    linear-gradient(to right, #ccccdc 1px, transparent 1px);
  background-size: 100px 100px;
}

.box {
  display: grid;
  background: radial-gradient(transparent, #ffffff 85%);
  height: 100vh;
}

h1 {
  font-size: 80px;
  font-weight: 900;
  color: #333343;
  margin: auto;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
}

.tinh-custom {
  width: 100%;
  .rdrDefinedRangesWrapper {
    background: transparent !important;
    border-right: 1px solid rgba(144, 202, 249, 0.5);
    .rdrStaticRanges {
      .rdrStaticRange .rdrStaticRangeLabel:hover {
        background: rgba(144, 202, 249, 0.5) !important;
        transition: 0.7s;
        color: #fff !important;
      }
      .rdrStaticRangeSelected {
        color: #90caf9 !important;
      }
      .rdrStaticRange {
        background: transparent !important;
        color: #fff;
        border-bottom: 1px solid rgba(144, 202, 249, 0.5);
        font-weight: bold;
      }
    }
    .rdrInputRanges .rdrInputRange {
      input {
        background: #212b36;
        color: #fff;
        border: 1px solid rgba(144, 202, 249, 0.5);
      }
      span {
        font-weight: bold;
      }
    }
  }
  .rdrCalendarWrapper {
    background: transparent;
    .rdrDateDisplayWrapper {
      background-color: transparent;

      .rdrDateDisplayItem {
        background-color: #212b36;
        input {
          font-weight: bold;
          color: #fff;
        }
      }
    }
    .rdrMonthAndYearWrapper {
      .rdrNextPrevButton {
        background: #212b36;
        border: 1px solid rgba(144, 202, 249, 0.5);
      }
      .rdrPprevButton i {
        border-color: transparent #fff transparent transparent;
      }
      .rdrNextButton i {
        border-color: transparent transparent transparent #fff;
      }
      .rdrMonthAndYearPickers {
        .rdrMonthPicker {
          position: relative;
        }
        .rdrYearPicker {
          position: relative;
        }
        .rdrYearPicker:after {
          content: '';
          position: absolute;
          top: 15px;
          right: 5%;
          border-width: 5px 5px 6px 5px;
          border-color: #fff transparent transparent transparent;
          transform: translate(-3px, 0px);
          width: 0;
          height: 0;
          padding: 0;
          text-align: center;
          border-style: solid;
        }
        .rdrMonthPicker:after {
          content: '';
          position: absolute;
          top: 16px;
          right: 6%;
          border-width: 5px 5px 6px 5px;
          border-color: #fff transparent transparent transparent;
          transform: translate(-3px, 0px);
          width: 0;
          height: 0;
          padding: 0;
          text-align: center;
          border-style: solid;
        }
        select {
          font-weight: bold;
          color: #fff;
          background: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)) !important;
        }
      }
    }
    .rdrMonths {
      .rdrMonth {
        width: 38.667em;
        .rdrMonthName {
          font-weight: bold;
          color: #fff;
          text-align: center;
          background: #212b36;
        }
        .rdrWeekDays {
          .rdrMonthName {
            font-weight: bold;
            color: #fff;
          }
          .rdrWeekDay {
            font-weight: bold;
            color: #fff;
          }
        }
        .rdrDays {
          .rdrDayDisabled {
            background-color: transparent;
          }
          .rdrDayNumber {
            font-weight: bold;
          }
          .rdrDayPassive .rdrDayNumber span {
            display: none;
          }
          .rdrDayNumber span {
            color: #fff;
          }
        }
      }
    }
  }
}
.tinh-custom-light {
  width: 100%;
  .rdrDefinedRangesWrapper {
    background: transparent !important;
    border-right: 1px solid rgba(144, 202, 249, 0.5);
    .rdrStaticRanges {
      .rdrStaticRange .rdrStaticRangeLabel:hover {
        background: rgba(144, 202, 249, 0.5) !important;
        transition: 0.7s;
      }
      .rdrStaticRangeSelected {
        color: #90caf9 !important;
      }
      .rdrStaticRange {
        background: transparent !important;
        border-bottom: 1px solid rgba(144, 202, 249, 0.5);
        font-weight: bold;
      }
    }
    .rdrInputRanges .rdrInputRange {
      input {
        border: 1px solid rgba(144, 202, 249, 0.5);
      }
      span {
        font-weight: bold;
      }
    }
  }
  .rdrCalendarWrapper {
    background: transparent;
    .rdrDateDisplayWrapper {
      background-color: transparent;

      .rdrDateDisplayItem {
        input {
          font-weight: bold;
        }
      }
    }
    .rdrMonthAndYearWrapper {
      .rdrNextPrevButton {
        border: 1px solid rgba(144, 202, 249, 0.5);
      }

      .rdrMonthAndYearPickers {
        .rdrMonthPicker {
          position: relative;
        }
        .rdrYearPicker {
          position: relative;
        }
        .rdrYearPicker:after {
          content: '';
          position: absolute;
          top: 15px;
          right: 5%;
          border-width: 5px 5px 6px 5px;
          border-color: #ccc transparent transparent transparent;
          transform: translate(-3px, 0px);
          width: 0;
          height: 0;
          padding: 0;
          text-align: center;
          border-style: solid;
        }
        .rdrMonthPicker:after {
          content: '';
          position: absolute;
          top: 16px;
          right: 6%;
          border-width: 5px 5px 6px 5px;
          border-color: #ccc transparent transparent transparent;
          transform: translate(-3px, 0px);
          width: 0;
          height: 0;
          padding: 0;
          text-align: center;
          border-style: solid;
        }
        select {
          font-weight: bold;
          background: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)) !important;
        }
      }
    }
    .rdrMonths {
      .rdrMonth {
        width: 38.667em;
        .rdrMonthName {
          font-weight: bold;
          text-align: center;
        }
        .rdrWeekDays {
          .rdrMonthName {
            font-weight: bold;
          }
          .rdrWeekDay {
            font-weight: bold;
          }
        }
        .rdrDays {
          .rdrDayDisabled {
            background-color: transparent;
          }
          .rdrDayNumber {
            font-weight: bold;
          }
          .rdrDayPassive .rdrDayNumber span {
            display: none;
          }
        }
      }
    }
  }
}
